.photo-grid {
  max-width: 1184px;
  margin: 0 48px 92px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-gap: 16px;
    margin: 0 24px 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-gap: 12px;
    margin: 0 16px 64px;
  }
}
