.cover__subtitle {
  position: absolute;
  margin: 429px 412px 245px;
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;


  text-align: center;
}
