.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  margin-bottom: 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
  .place__paragraph {
    margin-bottom: 25px;
  }
}
