.intro {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 92px auto 92px 148px;
}

@media screen and (max-width: 1279px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 88px auto;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin: 64px auto;
    max-width: 288px;
  }
}
