.header__lang-link_lang_en {
  text-decoration: none;
  margin: 46px 48px 0 14px;
}

@media screen and (max-width: 1023px) {
  .header__lang-link_lang_en {

    margin: 46px 24px 0 14px;
  }
}

@media screen and (max-width: 767px) {
  .header__lang-link_lang_en {

    margin: 30px 16px 0 14px;
  }
}
