.place {
  max-width: 984px;
  margin: 0 0 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));

  gap: 48px 40px;

  grid-template-areas:
  "title website"
  "image paragraphs";


}
